@model ErrorViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer T
@{
    ViewData["Title"] = T["Error.Title"].Value;
}

<h1 class="text-danger">@T["Error.Heading"]</h1>
<h2 class="text-danger">@T["Error.SubHeading"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@T["Error.RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@T["Error.DevModeHeading"]</h3>
<p>
    @Html.Raw(T["Error.DevModeBody1"].Value)
</p>
<p>
    @Html.Raw(T["Error.DevModeBody2"].Value)
</p>
